<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>

  <p>
    <label for="author">Author</label>
    <input type="text" author="author" id="author">
  </p>
  <p>
    <label for="image">Image</label>
    <input type="text" image="image" id="image">
    <label for="body">Body</label>
    <input type="text" body="body" id="body">
  </p>

  <button>Submit</button>
</form>